<header>
    <div class="Logo">
        <a href="index.php"><img src="../res/GoGreen-vuoto.png" alt="Immagine logo del sito"></a>
    </div>
    <nav>
        <div><a href="">Mappa</a></div>
        <div><a href="PrenotaVeicolo.php">Tariffe</a></div>
        <div><a href="">Faq</a></div>
        <div><a href="Registrazione.php">Registrati</a></div>
        <div><a href="areaClienti.php">AreaClienti</a>
        </div>
        <input type="text" id="box-bottom" placeholder="Search"> 
        <div id="search"><img src="..\res\iconaSearch.png" alt="icona lente ingrandimento per la ricerca della pagina"></div>
    </nav>
</header>