<header>
    <div class="Logo">
        <a href="index.php"><img src="../res/GoGreen-vuoto.png" alt="Immagine logo del sito"></a>
    </div>
    <nav>
        <div><a href="">Mappa</a></div>
        <div><a href="PrenotaVeicolo.php">Tariffe</a></div>
        <div><a href="">Faq</a></div>
        <div class="dropdown" class="dropbtn"> Il Mio Account
            <div class="dropdown-content">
              <a href="account.php">Account</a>
              <a href="#">Le mie auto</a>
              <a href="../scripts/Logout.php" id="logout">Logout</a> <img src="..\res\iconaLogout.png" alt="icona Logout">
            </div>
          </div>
        <img src="..\res\IconaCarrello2.png" alt="icona carrello">
        <input type="text" id="box-bottom" placeholder="Search"> 
        <div id="search"><img src="..\res\iconaSearch.png" alt="icona lente ingrandimento per la ricerca della pagina"></div>
    </nav>
</header>